@tailwind base;
@tailwind utilities;
@tailwind components;


* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}
h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}
.weather-input {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
}
#getWeather {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4facfe;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#getWeather:hover {
  background-color: #00f2fe;
}
#weatherResult {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.item {
  padding-left: 70px;
}
